version: "3.7"
services:
  app:
    build: .
    ports:
      - 5000:8001
    depends_on:
      - mysql
      - redis
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  redis:
    image: redis
  adminer:
    image: adminer
    ports:
      - 8002:8080
  phpredisadmin:
    image: erikdubbelboer/phpredisadmin
    environment:
      REDIS_1_HOST: redis
    ports:
      - 8003:80