version: "3.7"
services:
  app:
    build: .
    ports:
      - 5000:8001
    depends_on:
      - mysql
      - redis
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  redis:
    image: redis
